.vertical-align  {
    margin: 0px;
	padding:0px;
	float: left;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

.bg-footer {
	background-color: #f5f5f5;
}
